<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
    <style>
        #overlay{
            display: none;
        }
        #add-product-overlay{
            display: none;
        }
    </style>
</head>
<body>
    <h1> Manager Dashboard </h1>
    <div id="categories-container">
        {% for category in categories %}
        <div id="{{category.id}}">
            <h2> {{category.name}} </h2>
            <button onclick="show_popup_product('{{category.name}}')">
                Add Product      
            </button>
            <button onclick="editProduct('{{category.id}}','{{category.name}}')"> Edit </button>
            <button> Delete </button>
        </div>
        {% endfor %}
    </div>
    <div id="add-product-overlay">
    <div id="add-product-popup">
        <h3> Add Product </h3>
        <form id="add-product-form">
            <input type="hidden" id="category-name-hidden" name="category name">
            <input type="text" name="Product Name" placeholder="grocery item" required id="productName">
            <select name="Unit" required id="unit"> 
                <option value=""> Select a Unit: </option>
                <option value="kg"> kilogram </option>
                <option value="L"> litre </option>
                <option value="dz"> dozen </option>
                <option value="g"> gram </option>
            </select>
            <input type="number" name="Rate/Unit" placeholder="Rs:" required id="rate-unit">
            <input type="number" name="Quantity" placeholder="number of items" required id="quantity">
            <button type="button" id="addProductSubmit" onclick="saveProduct()"> Submit </button>
        </form>
    </div>
    </div>
    <button id="add_cat"> Create Category </button>
    <div id="overlay">
        <div id="popup">
            <input type="text" id="cat_name" placeholder="category name">
            <button id="save_cat">
                Save
            </button>
        </div>
    </div>
    <button>
        <a href="{{url_for('logout')}}"> Logout </a>
    </button>
    <script>
        var saveCategoryURL = "{{url_for('save_category')}}";
        var saveProductURL = "{{url_for('save_product')}}";
        function show_popup(){
            document.getElementById("overlay").style.display = 'block';
        }
        function hide_popup(){
            document.getElementById("overlay").style.display = 'none';
        }
        function show_popup_product(categoryName){
            document.getElementById('category-name-hidden').value = categoryName;
            document.getElementById("add-product-overlay").style.display = 'block';
        }
        function hide_popup_product(){
            document.getElementById("add-product-overlay").style.display = 'none';
        }
        function save_category(){
            const categoryName = document.getElementById("cat_name").value;
            const xhttp = new XMLHttpRequest();
            xhttp.open('POST', saveCategoryURL, true);
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhttp.onload = function(){
                if(this.status == 200){
                    const response = JSON.parse(this.responseText);
                    alert(response.message);
                }
                else{
                    alert("An error occurred!");
                }
                hide_popup();
            };
            xhttp.send(JSON.stringify({'categoryName':categoryName}));
        }
        function saveProduct(){
            const productName = document.getElementById('productName').value;
            const unit = document.getElementById('unit').value;
            const rateUnit = document.getElementById('rate-unit').value;
            const quantity = document.getElementById('quantity').value;
            const categoryName = document.getElementById('category-name-hidden').value; 
            const xhttp = new XMLHttpRequest();
            xhttp.open('POST', saveProductURL, true);
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhttp.onload = function(){
                if(this.status == 200){
                    const response = JSON.parse(this.responseText);
                    alert(response.message);
                }
                else{
                    alert("An error occurred!");
                }
                hide_popup_product();
            };
            xhttp.send(JSON.stringify({
                'categoryName':categoryName,
                'productName': productName,
                'rateUnit': rateUnit,
                'quantity': quantity,
                'unit': unit}));
        }
        function editProduct(categoryID, categoryName){
            document.getElementById('category-name-hidden').value = categoryName;
            show_popup_product
        }
        document.getElementById('add_cat').addEventListener('click',show_popup);
        document.getElementById('save_cat').addEventListener('click', save_category);

        document.getElementById('openProductPopup').addEventListener('click',show_popup_product);
        document.getElementById('addProductSubmit').addEventListener('click', hide_popup_product);
    </script>
</body>
</html>