<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Login</title>
</head>
<body>
    <h1> Manager Login Page </h1>
    <form action="{{url_for('manager_login')}}" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{form.username.label}}
            <br>
            {{form.username()}}
        </div>
        <div>
            {{form.password.label}}
            <br>
            {{form.password()}}
        </div>
        <div>
            <button type="submit">
                Login
            </button>
        </div>
    </form>
</body>
</html>